{% extends 'admin/layout.html' %}

{% block content %}
<div class="card edit">
  <header class="card-header">
    <p class="card-header-title">{{ title }} {{ type_name|capitalize }}</p>
  </header>
  <div class="card-content">
    <div class="content">
      {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
      {% endfor %}
      <form method="POST">
        <div class="field">
          <label class="label">Title</label>
          <div class="control">
              <input type="text" name="title" class="input" value="{{  item_title|default('') }}">
          </div>
        </div>
        <div class="field">
          <label class="label">Slug</label>
          <div class="control">
              <input type="text" name="slug" class="input" value="{{  slug|default('') }}">
          </div>
        </div>
        <div class="field">
          <label class="label">Type</label>
          <div class="control">
            <div class="select">
                <select name="type_id" id="type_id">
                    {% for type in types %}
                    <option value="{{ type.id }}" {{ 'selected' if (type.name == type_name) }}>{{ type.name }}</option>
                    {% endfor %}
                </select>
            </div>
          </div>
        </div>
        <div class="field">
          <label class="label">Content</label>
          <div class="control">
              <textarea name="body" id="body" cols="30" rows="10" class="textarea" content="{{  body|default('') }}"></textarea>
          </div>
        </div>
        <div class="field is-grouped">
          <div class="control">
              <input type="submit" value="Submit" class="button is-link">
          </div>
          <div class="control">
              <a href="{{ url_for('admin.content', type=type_name) }}" class="button is-text">Cancel</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
